<a href="https://www.hwr-berlin.de/en/" target="_blank">HWR Berlin</a>

<img src="{{ url_for('static', filename='images/download.jpeg') }}" alt="Image">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<body>
    <h1>Hello, World!</h1>
    <p>Welcome to my website.</p>
</body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/titanic">Titanic</a></li>
        <li><a href="https://github.com/saratamerrr">About Me</a></li>
    </ul>
</nav>
<footer>
    <p>Created by [Sara Moussa]</p>
</footer>